.entity-list {
  height: 100%;

  .list-group-item {
    cursor: pointer;

    &:hover {
      background-color: #f8f9fa;
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      font-size: 0.875rem;
    }
  }
}
