.side-menu {
  width: 100%;
  height: 100%;

  .nav-link {
    color: #333;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;

    &:hover {
      background-color: #e9ecef;
    }

    &.active {
      background-color: #0d6efd;
      color: white;
    }
  }
}
